input.error {
		border-color: red;
}
textarea.error {
	border-color: red;
}
div.valid {
	display:none;
}
div.error {
	margin: 0 0 0 10px;
	color: red;
	font-style: italic;
	font-size: 0.8em
}

td select {
	width: 204px;
}
td span {
	padding: 0px 10px 0px 0px;
}
td textarea {
	width: 608px;
	height: 50px;
}